$ptexto:white;
$ptexto1: black;
$fondo1: white;
$fondo2: black;
$fondo3: chocolate;
$fondo4: rgb(121, 64, 22);
$fondo5: rgb(72, 37, 12);
$encabezados:(
    xl: green,
    s: red,
);

$xl: map-get($encabezados, xl);
$s: map-get($encabezados, s);

@mixin but ($color,$texto){
    &:hover {
        background-color: $color;
        color: $texto;
    }
    .bdis1{
        @include but($fondo3,$ptexto)
    }
    .bdis2{
        @include but($fondo4,$ptexto)
    }
    .bdis3{
        @include but($fondo5,$ptexto)
    }
}


body{
    background-color: black;
}
header{
    background-color: $fondo2;
    color: white;
    text-align: center;
    .nav{
        width: 90%;
        background-color: $fondo2;
        margin: 10px auto;
        .ulnav{
            list-style-type: none;
            padding: 10px;
            margin: 10px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            .menu{
                background-color: rgb(0, 0, 0);
                color: white;
                padding: 10px;
                margin: 10px;
                &:hover{
                    background-color: $fondo3;
                    border-radius: 15%;
                }
            }
        }
    }

}



.section1{
    background-color: white;
    display: flex;
    .imgsection{
        border-radius: 50%;
        .ptext{
            margin: 10px 50px;
            padding: 100px;
            font-size: 2rem;
        }


    }


}
.section2{
    background-color: black;
    color: white;
    display: flex;
    
    .imgsection2{
        border-radius: 50%;
        
    }

.item-a{
    display: flex;
    justify-content: space-around;
    .img1{
        height: 100px;
        width: 100px;
        }
    }
}

footer{
    background-color: rgb(19, 18, 18);
    color: white;
    .divfooter{
        display: flex;
        justify-content: space-between;
    }

}


.maindiseños{
    background-color: black;
    .divimg{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .img4{
        
        height: 200px;
        width: 200px;
        border-radius: 60%;
        
            }
        }
    
}


.divbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .bdis{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 10px;
        margin: 10px;
        &:hover {
            background-color: chocolate;
            border-radius: 20%;
        }
}
}
